@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Opções</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Cliente","ClienteFormulario", "Cadastrar")
    </div>
    <div>
        @Html.ActionLink("Feirante", "FeiranteFormulario", "Cadastrar")
    </div>
</body>
</html>
