<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://organobusca.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>organobusca.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>organobusca</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$organobusca</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbOrg1" Order="1" Enabled="False">
          <Destination Path="Data Source=organobusca.database.windows.net;Initial Catalog=dborg;User ID=adminorganobusca;Password=s2bDEV2017;Application Name=EntityFramework" Name="Data Source=organobusca.database.windows.net;Initial Catalog=dborg;User ID=adminorganobusca;Password=s2bDEV2017;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Organobusca.Models.dbOrg, Organobusca" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dbOrg" Order="2" Enabled="False">
          <Destination Path="Data Source=organobusca.database.windows.net;Initial Catalog=dborg;User ID=adminorganobusca;Password=s2bDEV2017;Application Name=EntityFramework" Name="Data Source=organobusca.database.windows.net;Initial Catalog=dborg;User ID=adminorganobusca;Password=s2bDEV2017;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=organobusca.database.windows.net;Initial Catalog=dborg;User ID=adminorganobusca;Password=s2bDEV2017;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbOrg_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=organobusca.database.windows.net;initial catalog=dborg;user id=adminorganobusca;password=s2bDEV2017;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbOrg-Web.config Connection String">
      <ParameterValue>data source=organobusca.database.windows.net;initial catalog=dborg;user id=adminorganobusca;password=s2bDEV2017;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbOrg1-Web.config Connection String">
      <ParameterValue>Data Source=organobusca.database.windows.net;Initial Catalog=dborg;User ID=adminorganobusca;Password=s2bDEV2017;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>