
@{
    ViewBag.Title = "ajudaFeirante";
    Layout = "~/Views/Shared/_DashboardFeiranteLayout.cshtml";
}

<h2>Bem vindo ao OrganoBusca</h2>
<br />
<p>
    Um serviço interativo e simples que tem o objetivo de facilitar na buscar de produtos orgânicos.
</p>
<p>
    A principal função da nossa aplicação web é encurtar a distância entre vendedores e consumidores. Oferecendo um serviço de buscar para quem quer encontrar produtos de boa qualidade, e para quem desejar  ter publicidade para seu pequeno negocio de produtos orgânicos.
</p>
<p>
    Todas as Ferramentas desta aplicação web são baseados em 2 usuários,  o cliente ou consumidor e o Feirante. A aplicação web disponibiliza algumas ferramentas habituas que todo o site possuir, como login, criar excluir e alterar o cadastros etc. E as ferramentas especifica para cada usuário.
</p>
<p>
    O que é o Feirante?
    Para nós o Feirante é aquela pessoa que possuir um pequeno negócio de produtos orgânicos que possuir uma certa dificuldade em divulgar seu negócio, seja por falta de recursos ou por falta de conhecimento.
    Na nossa aplicação web daremos ferramentas para ele divulgar seus produtos de maneira fácil e pratica. Sem falar no feedback que a nossa ferramenta dará a ele através da avaliação dos clientes.
</p>

