
@{
    ViewBag.Title = "ajudaFeirante";
    Layout = "~/Views/Shared/_DashboardFeiranteLayout.cshtml";
}

<h2>Bem vindo ao OrganoBusca</h2>
<br />
<p>
    Um serviço interativo e simples que tem por objetivo facilitar a busca por produtos orgânicos.
</p>
<p>
    A principal função da nossa aplicação web é encurtar a distância entre vendedores e consumidores. Ofereceremos um serviço de busca para quem deseja encontrar produtos de boa qualidade, e para quem busca por publicidade para seu pequeno negócio de produtos orgânicos.
</p>
<p>
    As ferramentas desta aplicação web são baseadas em dois usuários,  o cliente ou consumidor e o Feirante. A aplicação web disponibiliza algumas ferramentas habituais que a maioria dos sites atualmente possuem, como login, criar conta, excluir, alterar cadastros e etc. Também algumas ferramentas específicas para cada usuário.
</p>
<p>
    o que é o Feirante?
    Para nós, o feirante é aquela pessoa que possui um pequeno negócio de produtos orgânicos, e que busca por ajuda para divulgar seu negócio, nós ofereceremos recursos e conhecimento.
    Em nossa aplicação web, ofereceremos ferramentas para divulgar produtos de maneira fácil e prática. Teremos também o feedback que a nossa ferramenta disponibilizará através da avaliação dos clientes.
</p>

